.vscode/launch.json
.vscode/tasks.json
ClientUI/bin/
ClientUI/obj/
Messages/obj/
Messages/bin/
Sales.Messages/obj/
Sales.Messages/bin/
Sales/obj/
Sales/bin/
NServiceBusMessaging/obj/
NServiceBusMessaging/bin/
/.learningtransport
/.vs
/Billing/bin/Debug/net7.0
/Billing/obj
/Billing.Messages/bin/Debug/net7.0
/Billing.Messages/obj
