.vscode/launch.json
.vscode/tasks.json
ClientUI/bin/Debug/net7.0/ClientUI.deps.json
ClientUI/bin/Debug/net7.0/ClientUI.dll
ClientUI/bin/Debug/net7.0/ClientUI.exe
ClientUI/bin/Debug/net7.0/ClientUI.pdb
ClientUI/bin/Debug/net7.0/ClientUI.runtimeconfig.json
ClientUI/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ClientUI/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
ClientUI/bin/Debug/net7.0/nsb_log_2023-05-04_0.txt
ClientUI/bin/Debug/net7.0/NServiceBus.Core.dll
ClientUI/bin/Debug/net7.0/System.Security.Cryptography.Pkcs.dll
ClientUI/bin/Debug/net7.0/System.Security.Cryptography.Xml.dll
ClientUI/bin/Debug/net7.0/.diagnostics/ClientUI-configuration.txt
ClientUI/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.Pkcs.dll
ClientUI/obj/ClientUI.csproj.nuget.dgspec.json
ClientUI/obj/ClientUI.csproj.nuget.g.props
ClientUI/obj/ClientUI.csproj.nuget.g.targets
ClientUI/obj/project.assets.json
ClientUI/obj/project.nuget.cache
ClientUI/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
ClientUI/obj/Debug/net7.0/apphost.exe
ClientUI/obj/Debug/net7.0/ClientUI.AssemblyInfo.cs
ClientUI/obj/Debug/net7.0/ClientUI.AssemblyInfoInputs.cache
ClientUI/obj/Debug/net7.0/ClientUI.assets.cache
ClientUI/obj/Debug/net7.0/ClientUI.csproj.AssemblyReference.cache
ClientUI/obj/Debug/net7.0/ClientUI.csproj.CopyComplete
ClientUI/obj/Debug/net7.0/ClientUI.csproj.CoreCompileInputs.cache
ClientUI/obj/Debug/net7.0/ClientUI.csproj.FileListAbsolute.txt
ClientUI/obj/Debug/net7.0/ClientUI.dll
ClientUI/obj/Debug/net7.0/ClientUI.GeneratedMSBuildEditorConfig.editorconfig
ClientUI/obj/Debug/net7.0/ClientUI.genruntimeconfig.cache
ClientUI/obj/Debug/net7.0/ClientUI.GlobalUsings.g.cs
ClientUI/obj/Debug/net7.0/ClientUI.pdb
ClientUI/obj/Debug/net7.0/ref/ClientUI.dll
ClientUI/obj/Debug/net7.0/refint/ClientUI.dll
